@use '@styles/variables.scss' as *;

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px;
}

.home-header {
    background-color: rgba(239, 240, 243, .6);
    //backdrop-filter: 40px;

    padding: 12px;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: calc(56px / 2);

    width: calc(100% - 80px);
    max-width: 1296px;
    min-height: calc(56px - 24px);
    transition: height 0.3s ease-in-out;
}

.home-header-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-header-left {
    display: flex;
    gap: 24px;
    align-items: center;
}

.home-header-left-logo {
    height: 20px;
}

.home-header-left-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.96);
}

.home-header-left-menu-item {
    padding: 6px 12px;
    border-radius: 500px;
}

.home-header-left-menu-item:hover {
    background-color: rgba(114, 118, 139, 0.08);
    cursor: pointer;
}

.home-header-left-menu-item {
    position: relative;
    transition: all 0.3s ease;
}

.home-header-left-menu-item i {
    transition: transform 0.3s ease;
    display: inline-block;
}

.home-header-left-menu-item i.rotate-icon {
    transform: rotate(180deg);
}


.home-header {
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}

.home-header-left-menu-item {
    position: relative;
    transition: all 0.3s ease;
}

.home-header-left-menu-item i {
    transition: transform 0.3s ease;
    display: inline-block;
}

.home-header-left-menu-item i.rotate-icon {
    transform: rotate(180deg);
}

.home-header-right{
    display: flex;
    justify-content: center;
    gap:12px;
    .add-chrome{
        border: 1px solid var(--art-border-color);
        font-size: 14px;
    }

    .login{
        border: 1px solid var(--art-border-color);
        font-size: 14px;
    }

}

/* 扩展面板样式 */
.extension-panel-wrapper {
    position: relative;
    width: 100%;
    //margin-top: 6px;
}

.extension-panel-content {
    //background: #fff;
    //border-top: 1px solid #e0e0e0;
    padding: 20px 120px;
    margin-top: 10px;
}

.panel-item {
    font-weight: 500;
    padding: 12px 0px;
    font-family: "D-DIN Exp", "DM Sans", arial, "microsoft yahei", pingfangsc, helvetica, sans-serif;
    color: rgba(6, 8, 31, 0.88);

    .new-tag {
        font-size: 11px;
        line-height: 17px;
        font-style: normal;
        background-color: rgb(229, 86, 73);
        padding: 0 4px;
        border-radius: 4px;
        color: var(--art-color);
    }
}

.panel-item:hover {
    cursor: pointer;
}



/* 从上往下伸展，从下往上收缩的过渡动画 */
.slide-down-enter-active,
.slide-down-leave-active {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.slide-down-enter-from {
    opacity: 0;
    max-height: 0;
    transform: translateY(-10px);
}

.slide-down-enter-to {
    opacity: 1;
    max-height: 500px;
    /* 设置一个足够大的值以容纳内容 */
    transform: translateY(0);
}

.slide-down-leave-from {
    opacity: 1;
    max-height: 500px;
    transform: translateY(0);
}

.slide-down-leave-to {
    opacity: 0;
    max-height: 0;
    transform: translateY(-10px);
}