@import "tailwindcss";

:root{
    --color-brand-primary-normal: #6128ff;
    --color-brand-primary-hover: #6a3fff;
    --color-brand-primary-click: #561bef;
    --color-brand-primary-bg3: rgba(122,89,255,.4);
    --color-brand-primary-bg2: rgba(122,89,255,.32);
    --color-brand-primary-disable: rgba(122,89,255,.24);
    --color-brand-primary-focus: rgba(122,89,255,.16);
    --color-brand-primary-bg: rgba(122,89,255,.08);
    --color-brand-secondary-normal: #7450ff;
    --color-brand-secondary-hover: #3a00b3;
    --color-brand-secondary-click: #20006c;
    --color-text-primary-1: rgba(0,0,0,.96);
    --color-text-primary-2: rgba(6,8,31,.88);
    --color-text-primary-3: rgba(10,13,51,.6);
    --color-text-primary-4: rgba(10,13,51,.45);
    --color-text-primary-5: rgba(10,13,51,.18);
    --color-text-secondary-1: #fff;
    --color-text-secondary-2: rgba(220,223,249,.92);
    --color-text-secondary-3: rgba(214,218,255,.56);
    --color-text-secondary-4: rgba(214,218,255,.4);
    --color-text-secondary-5: rgba(214,218,255,.16);
    --color-text-black-1: rgba(0,0,0,.96);
    --color-text-black-2: rgba(6,8,31,.88);
    --color-text-black-3: rgba(10,13,51,.6);
    --color-text-black-4: rgba(10,13,51,.45);
    --color-text-black-5: rgba(10,13,51,.18);
    --color-text-white-1: #fff;
    --color-text-white-2: rgba(220,223,249,.92);
    --color-text-white-3: rgba(214,218,255,.56);
    --color-text-white-4: rgba(214,218,255,.4);
    --color-text-white-5: rgba(214,218,255,.16);
    --color-grey-layer1-normal: #f6f6f8;
    --color-grey-layer1-semitrans: rgba(237,237,241,.84);
    --color-grey-layer1-white: #fff;
    --color-grey-layer1-semitrans2: hsla(0,0%,100%,.84);
    --color-grey-layer2-normal: #fff;
    --color-grey-layer2-semitrans: hsla(0,0%,100%,.84);
    --color-grey-layer2-dark: #f6f6f8;
    --color-grey-layer3-normal: #fff;
    --color-grey-layer3-reserve: #0c0d19;
    --color-grey-fill1-normal: hsla(0,0%,100%,0);
    --color-grey-fill1-hover1: rgba(114,118,139,.04);
    --color-grey-fill1-hover: rgba(114,118,139,.08);
    --color-grey-fill1-click: rgba(114,118,139,.16);
    --color-grey-fill1-hover2: rgba(122,89,255,.08);
    --color-grey-fill1-click2: rgba(122,89,255,.16);
    --color-grey-fill2-normal: rgba(114,118,139,.06);
    --color-grey-fill2-hover: rgba(114,118,139,.12);
    --color-grey-fill2-click: rgba(114,118,139,.16);
    --color-advanced-fill-normal: #0c0d19;
    --color-advanced-fil-hover: #262734;
    --color-advanced-fill-hover: #262734;
    --color-advanced-fil-click: #000;
    --color-advanced-fill-click: #000;
    --color-glass-fill1-normal: rgba(114,118,139,.16);
    --color-glass-fill1-hover: rgba(114,118,139,.32);
    --color-glass-fill2-normal: rgba(114,118,139,.48);
    --color-glass-fill2-hover: rgba(114,118,139,.8);
    --color-grey-line1-normal: rgba(114,118,139,.08);
    --color-grey-line1-hover: rgba(114,118,139,.24);
    --color-grey-line1-click: rgba(114,118,139,.32);
    --color-grey-line2-normal: rgba(114,118,139,.16);
    --color-grey-line2-hover: rgba(114,118,139,.32);
    --color-grey-line2-click: rgba(114,118,139,.4);
    --color-grey-overlav1: rgba(12,13,25,.2);
    --color-grey-overlay1: rgba(12,13,25,.2);
    --color-grey-overlav2: rgba(12,13,25,.06);
    --color-grey-overlay2: rgba(12,13,25,.06);
    --color-grey-overlav3: rgba(12,13,25,.64);
    --color-grey-overlay3: rgba(12,13,25,.64);
    --color-success-normal: #20b082;
    --color-success-hover: #32bb8c;
    --color-success-click: #00a578;
    --color-success-disabled: #8cd5b4;
    --color-success-bg3: rgba(0,136,98,.32);
    --color-success-bg2: rgba(0,136,98,.24);
    --color-success-focus: rgba(0,136,98,.16);
    --color-success-bg: rgba(0,136,98,.08);
    --color-success-secondary: #00825e;
    --color-warning-normal: #eb7e26;
    --color-warning-hover: #f38b40;
    --color-warning-click: #e47100;
    --color-warning-disabled: #ffb688;
    --color-warning-bg3: rgba(235,126,38,.32);
    --color-warning-bg2: rgba(235,126,38,.24);
    --color-warning-focus: rgba(235,126,38,.16);
    --color-warning-bg: rgba(235,126,38,.08);
    --color-warning-secondary: #b55800;
    --color-error-normal: #e55649;
    --color-error-hover: #ed6557;
    --color-error-click: #e55749;
    --color-error-disabled: #ffb4ab;
    --color-error-bg3: rgba(215,65,52,.32);
    --color-error-bg2: rgba(215,65,52,.24);
    --color-error-focus: rgba(215,65,52,.16);
    --color-error-bg: rgba(215,65,52,.08);
    --color-error-secondary: #d23a2e;
    --color-error-secondary-hover: #790004;
    --color-assistive-blue-normal: #3182ff;
    --color-warning-blue-hover: #4d8eff;
    --color-warning-blue-click: #1477f7;
    --color-assistive-blue-disable: #adc6ff;
    --color-assistive-blue-bg3: rgba(0,114,242,.32);
    --color-assistive-blue-bg2: rgba(0,114,242,.24);
    --color-assistive-blue-focus: rgba(0,114,242,.16);
    --color-assistive-blue-bg: rgba(0,114,242,.08);
    --color-assistive-yellow-normal: #ffcb29;
    --color-assistive-yellow-hover: #ffd976;
    --color-assistive-yellow-click: #f4bf00;
    --color-assistive-yellow-disable: #fff2db;
    --color-assistive-yellow-bg3: rgba(255,203,41,.4);
    --color-assistive-yellow-bg2: rgba(255,203,41,.32);
    --color-assistive-yellow-focus: rgba(255,203,41,.28);
    --color-assistive-yellow-bg: rgba(255,203,41,.2);
    --color-assistive-yellow-text: #e7b500;
    --color-assistive-magenta: #ff41b1;
    --color-assistive-magenta-bg: #fff0f4;
    --color-assistive-green: #20b082;
    --color-assistive-green-bg: #f0f9f1;
    --color-focus-primary-1: rgba(122,89,255,.12);
    --color-focus-error-1: rgba(215,65,52,.12);
    --color-focus-gray-1: rgba(114,118,139,.06);
    --color-shadow-overflow-2: rgba(12,13,25,.02);
    --color-shadow-overflow-4: rgba(12,13,25,.04);
    --color-shadow-overflow-8: rgba(12,13,25,.08);
    --color-shadow-overflow-12: rgba(12,13,25,.12);
    --color-shadow-overflow-16: rgba(12,13,25,.16)
}

html.dark{
   --color-brand-primary-normal: #7f60ff;
    --color-brand-primary-hover: #937dff;
    --color-brand-primary-click: #896fff;
    --color-brand-primary-bg3: rgba(122,89,255,.48);
    --color-brand-primary-bg2: rgba(122,89,255,.4);
    --color-brand-primary-disable: rgba(122,89,255,.48);
    --color-brand-primary-focus: rgba(122,89,255,.32);
    --color-brand-primary-bg: rgba(122,89,255,.16);
    --color-brand-secondary-normal: #9e8aff;
    --color-brand-secondary-hover: #e0d7ff;
    --color-brand-secondary-click: #cabeff;
    --color-text-primary-1: #fff;
    --color-text-primary-2: rgba(220,223,249,.92);
    --color-text-primary-3: rgba(214,218,255,.56);
    --color-text-primary-4: rgba(214,218,255,.4);
    --color-text-primary-5: rgba(214,218,255,.16);
    --color-text-secondary-1: rgba(0,0,0,.96);
    --color-text-secondary-2: rgba(6,8,31,.88);
    --color-text-secondary-3: rgba(10,13,51,.6);
    --color-text-secondary-4: rgba(10,13,51,.45);
    --color-text-secondary-5: rgba(10,13,51,.18);
    --color-text-black-1: rgba(0,0,0,.96);
    --color-text-black-2: rgba(6,8,31,.88);
    --color-text-black-3: rgba(10,13,51,.6);
    --color-text-black-4: rgba(10,13,51,.45);
    --color-text-black-5: rgba(10,13,51,.18);
    --color-text-white-1: #fff;
    --color-text-white-2: rgba(220,223,249,.92);
    --color-text-white-3: rgba(214,218,255,.56);
    --color-text-white-4: rgba(214,218,255,.4);
    --color-text-white-5: rgba(214,218,255,.16);
    --color-grey-layer1-normal: #0c0d19;
    --color-grey-layer1-semitrans: rgba(12,13,25,.92);
    --color-grey-layer1-white: #151622;
    --color-grey-layer1-semitrans2: rgba(21,22,34,.84);
    --color-grey-layer2-normal: #1e1f2b;
    --color-grey-layer2-semitrans: rgba(30,31,43,.84);
    --color-grey-layer2-dark: #1e1f2b;
    --color-grey-layer3-normal: #2e2f3c;
    --color-grey-layer3-reserve: #363846;
    --color-grey-fill1-normal: rgba(30,31,43,0);
    --color-grey-fill1-hover1: rgba(114,118,139,.08);
    --color-grey-fill1-hover: rgba(114,118,139,.16);
    --color-grey-fill1-click: rgba(114,118,139,.08);
    --color-grey-fill1-hover2: rgba(122,89,255,.16);
    --color-grey-fill1-click2: rgba(122,89,255,.08);
    --color-grey-fill2-normal: rgba(114,118,139,.12);
    --color-grey-fill2-hover: rgba(114,118,139,.24);
    --color-grey-fill2-click: rgba(114,118,139,.16);
    --color-advanced-fill-normal: #fff;
    --color-advanced-fil-hover: #e7e7ed;
    --color-advanced-fill-hover: #e7e7ed;
    --color-advanced-fil-click: #f6f6f8;
    --color-advanced-fill-click: #f6f6f8;
    --color-glass-fill1-normal: rgba(114,118,139,.16);
    --color-glass-fill1-hover: rgba(114,118,139,.32);
    --color-glass-fill2-normal: rgba(114,118,139,.48);
    --color-glass-fill2-hover: rgba(114,118,139,.8);
    --color-grey-line1-normal: rgba(114,118,139,.16);
    --color-grey-line1-hover: rgba(114,118,139,.48);
    --color-grey-line1-click: rgba(114,118,139,.32);
    --color-grey-line2-normal: rgba(114,118,139,.32);
    --color-grey-line2-hover: rgba(114,118,139,.64);
    --color-grey-line2-click: rgba(114,118,139,.48);
    --color-grey-overlav1: rgba(12,13,25,.64);
    --color-grey-overlay1: rgba(12,13,25,.64);
    --color-grey-overlav2: rgba(12,13,25,.36);
    --color-grey-overlay2: rgba(12,13,25,.36);
    --color-grey-overlav3: rgba(12,13,25,.92);
    --color-grey-overlay3: rgba(12,13,25,.92);
    --color-success-normal: #32bb8c;
    --color-success-hover: #71cca6;
    --color-success-click: #56c498;
    --color-success-disabled: #006145;
    --color-success-bg3: rgba(0,136,98,.48);
    --color-success-bg2: rgba(0,136,98,.4);
    --color-success-focus: rgba(0,136,98,.32);
    --color-success-bg: rgba(0,136,98,.16);
    --color-success-secondary: #20b082;
    --color-warning-normal: #f38b40;
    --color-warning-hover: #ffa76a;
    --color-warning-click: #f99956;
    --color-warning-disabled: #884100;
    --color-warning-bg3: rgba(235,126,38,.48);
    --color-warning-bg2: rgba(235,126,38,.4);
    --color-warning-focus: rgba(235,126,38,.32);
    --color-warning-bg: rgba(235,126,38,.16);
    --color-warning-secondary: #eb7e26;
    --color-error-normal: #f57365;
    --color-error-hover: #ff9286;
    --color-error-click: #fb8275;
    --color-error-disabled: #ab100f;
    --color-error-bg3: rgba(215,65,52,.4);
    --color-error-bg2: rgba(215,65,52,.32);
    --color-error-focus: rgba(215,65,52,.32);
    --color-error-bg: rgba(215,65,52,.16);
    --color-error-secondary: #f57365;
    --color-error-secondary-hover: #ffb4ab;
    --color-assistive-blue-normal: #6399ff;
    --color-warning-blue-hover: #8ab0ff;
    --color-warning-blue-click: #77a5ff;
    --color-assistive-blue-disable: #0051b0;
    --color-assistive-blue-bg3: rgba(0,114,242,.4);
    --color-assistive-blue-bg2: rgba(0,114,242,.32);
    --color-assistive-blue-focus: rgba(0,114,242,.32);
    --color-assistive-blue-bg: rgba(0,114,242,.16);
    --color-assistive-yellow-normal: #ffcb29;
    --color-assistive-yellow-hover: #ffd976;
    --color-assistive-yellow-click: #f4bf00;    
    --color-assistive-yellow-disable: #6a5100;
    --color-assistive-yellow-bg3: rgba(255,203,41,.48);
    --color-assistive-yellow-bg2: rgba(255,203,41,.4);
    --color-assistive-yellow-focus: rgba(255,203,41,.28);
    --color-assistive-yellow-bg: rgba(255,203,41,.2);
    --color-assistive-yellow-text: #e7b500;
    --color-assistive-magenta: #ff41b1;
    --color-assistive-magenta-bg: #360021;
    --color-assistive-green: #20b082;
    --color-assistive-green-bg: #001c12;
    --color-focus-primary-1: rgba(122,89,255,.24);
    --color-focus-error-1: rgba(215,65,52,.24);
    --color-focus-gray-1: rgba(114,118,139,.12);
    --color-shadow-overflow-2: rgba(12,13,25,.12);
    --color-shadow-overflow-4: rgba(12,13,25,.24);
    --color-shadow-overflow-8: rgba(12,13,25,.48);
    --color-shadow-overflow-12: rgba(12,13,25,.72);
    --color-shadow-overflow-16: rgba(12,13,25,.92)
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.transition-colors {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.shadow-transparent {
    --tw-shadow-color: transparent;
    --tw-shadow: var(--tw-shadow-colored, 0 0 #0000);
}

.bg-color-grey-layer2-normal {
    background-color: var(--color-grey-layer2-normal, #fff);
}

.border-color-grey-line2-normal {
    border-color: var(--color-grey-line2-normal, rgba(114,118,139,.16));
}

.border-color-grey-line2-hover:hover {
    border-color: var(--color-grey-line2-hover, rgba(114,118,139,.32));
}

.text-color-text-primary-3 {
    color: var(--color-text-primary-3, rgba(10,13,51,.6))
}

.bg-color-grey-fill2-normal {
    background-color: var(--color-grey-fill2-normal, rgba(114,118,139,.06));
}

.bg-color-glass-fill1-normal {
    background-color: var(--color-glass-fill1-normal, rgba(114,118,139,.16));
}

.bg-color-advanced-fill-normal {
    background-color: var(--color-advanced-fill-normal, #0c0d19);
}

.text-color-grey-layer2-normal {
    color: var(--color-grey-layer2-normal, #fff);
}

.text-color-text-primary-1 {
    color: var(--color-text-primary-1, rgba(0,0,0,.96)) !important;
}

.text-color-text-primary-4 {
    color: var(--color-text-primary-4, rgba(10,13,51,.45));
}

.bg-color-text-primary-1 {
    background-color: var(--color-text-primary-1, rgba(0,0,0,.96));
}

.bg-color-grey-layer1-semitrans {
    background-color: var(--color-grey-layer1-semitrans, rgba(237,237,241,.84));
}

.bg-color-grey-fill1-hover{
    background-color: var(--color-grey-fill1-hover, rgba(114,118,139,.08));
}

.f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-color-grey-layer3-normal {
    background-color: var(--color-grey-layer3-normal, #fff);
}